<!DOCTYPE html>
<html>
    <head>
        <title>Pet-R-Us</title>
        <link href="../public/styles/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,300;1,400;1,700&family=Satisfy&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav>
                <h1>Pets-R-Us</h1>
                <a href="./grooming">Grooming</a>
            </nav>
        </header>
        <main>
            <div id="locations">
                <h3>Locations</h3>
                <ul>
                    <li>154 Main St, Richmond VA</li>
                    <li>1323 Sycamore Dr, Richmond VA</li>
                    <li>13 Red Hwy, Stuart VA</li>
                </ul>
            </div>
            <div id="hours">
                <h3>Store Hours (all locations)</h3>
                <ul>
                    <li>M-F: 10am - 8pm</li>
                    <li>Saturday: 12pm - 4pm</li>
                    <li>Sunday: Closed</li>
                </ul>
            </div>
            <div id="week-dog">
                <h3>Dog of the Week</h3>
                <span>Dog Name/location goes here</span>
            </div>
            <div id="testimonials">
                <h3>Testimonials</h3>
                <ul>
                    <li>Temporary testimonial</li>
                    <li>Temporary testimonial</li>
                    <li>Temporary testimonial</li>
                    <li>Temporary testimonial</li>
                </ul>
            </div>
            <div id="contact">
                <h3>Contact</h3>
                <ul>
                    <li>Phone: 555-012-3456</li>
                    <li>Mail: PO Box 789, Richmond VA</li>
                    <li>email: contact@petsrus.bike</li>
                </ul>
            </div>
        </main>
    </body>
</html>