/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,300;1,400;1,700&family=Satisfy&display=swap');

/* 
Color Palette
#CEE0DC 
#B9CFD4
#AFAAB9
#B48291
#A5243D
*/

body {
    background-color: #AFAAB9;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: #A5243D;
    color: #fff;
    font-family: 'Satisfy', serif;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 2rem;
    color: #fff;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 3rem;
    float: left;
}

h3 {
    color: #A5243D;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

main div {
    width: 40%;
    background-color: #fff;
    margin: 2rem;
    padding: 1rem .5rem;
}